/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bintang-heler.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero .content {
  text-align: left;
  color: #fff;
  z-index: 1;
  max-width: 1000px;
  padding: 4rem;
  margin-right: auto;
}

.hero .content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  line-height: 1.6;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.hero .content .button {
  display: inline-block;
  padding: 0.5rem 2.5rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: #fff;
  background-color: #702708;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 13rem;
}

.hero .content .button:hover {
  background-color: var(--primary);
}

/* Produk Section */
.product {
  padding: 2rem 0;
  background: #000000;
  text-align: center;
  color: white;
  overflow-x: hidden; /* Mencegah scrolling horizontal */
}

.product h2 span {
  color: var(--primary);
}

.product h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.product p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #cccccc;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.product-card {
  background: #282828;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex: 1 1 calc(33.33% - 2rem); /* Tiga kolom di desktop */
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.product-card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
}

.product-card-subtitle {
  font-size: 1rem;
  color: #bbbbbb;
  margin-top: 0.5rem;
}

.product-price {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
}

.product-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-icons a {
  color: #cccccc;
  transition: color 0.3s ease;
}

.product-icons a:hover {
  color: var(--primary);
}

/* Perbaikan untuk tampilan di perangkat kecil */
@media (max-width: 768px) {
  .product-card {
    flex: 1 1 calc(50% - 2rem); /* Dua kolom di tablet */
    max-width: 100%;
  }
}

@media (max-width: 450px) {
  .product .row {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .product-card-title {
    font-size: 1rem;
  }

  .product-card-subtitle {
    font-size: 0.9rem;
  }

  .product-price {
    font-size: 1rem;
  }

  .product-card-img {
    width: 100%;
  }
}


/* Container for both cart and shipping details */
.shopping-container {
  display: flex;
  flex-direction: column; /* Adjust to column for better mobile experience */
  gap: 20px;
  padding: 20px;
  background-color: #0a0a0a;
  color: white;
}

/* Shopping Cart */
.shopping-cart {
  width: 100%;
  background-color: #0a0a0a;
  padding: 20px;
  color: white;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.shopping-cart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cart-items {
  margin-bottom: 1rem;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 10px;
}

.cart-item .item-quantity {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.cart-item .quantity-btn {
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cart-item .quantity-btn.plus {
  margin-left: 5px;
}

.cart-item .quantity-btn.minus {
  margin-right: 5px;
}

.item-detail {
  flex: 1;
}

.item-detail h3 {
  font-size: 1rem;
  margin: 0;
  color: white;
}

.item-detail .item-price {
  font-size: 0.875rem;
  color: #999;
}

.remove-item {
  cursor: pointer;
  color: #ffff00;
}

.cart-total {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.cart-total strong {
  display: inline-block;
  width: 70px;
}

#enter-shipping-details {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#enter-shipping-details:hover {
  background-color: #e68a00;
}

#checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkout-button:hover {
  background-color: #e68a00;
}

.back-to-products .icon {
  color: yellow;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  transition: color 0.3s ease;
}

.back-to-products:hover .icon {
  color: #2b2a23;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
}

.form-group input,
.form-group select,
.form-group button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#calculate-shipping {
  background-color: #ff9800;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#calculate-shipping:hover {
  background-color: #e68a00;
}

/* Shipping Details */
.shipping-details {
  width: 100%; /* Adjust width to full width for mobile */
  background-color: #0a0a0a;
  padding: 20px;
  color: white;
  overflow-y: auto;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}

/* Deskripsi Overlay */
.deskripsi-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  padding: 20px;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

.product-icons {
  position: relative;
  z-index: 20;
}

.product-card.show-description .deskripsi-overlay {
  display: flex;
}

.deskripsi-overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.deskripsi-overlay p {
  font-size: 1rem;
}

/* Checkout Form */
.checkout-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
}

.checkout-form h2 {
  margin-bottom: 1rem;
}

.checkout-form label {
  margin-bottom: 0.5rem;
}

.checkout-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form .button {
  background-color: var(--primary);
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-form .button:hover {
  background-color: #e6c300;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #000;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  color: #fff;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal .form-group label {
  flex: 1;
  margin-right: 10px;
  text-align: right;
}

.modal .form-group input,
.modal .form-group select {
  flex: 2;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.modal button {
  width: 100%;
  padding: 10px;
  background-color: #ffa500;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.modal button:hover {
  background-color: #ff8c00;
}

/* Notifikasi */
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(87, 85, 85);
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 10px;
  text-align: center;
}

.notification-content i {
  color: green;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.notification-content p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.notification-content .button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Adjustments for Hero and Product Sections */
@media (max-width: 768px) {
  .hero {
    padding: 50px 20px;
    background-size: cover;
    min-height: 60vh;
  }

  .hero .content {
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
  }

  .hero .content h1 {
    font-size: 2rem;
  }

  .hero .content p {
    font-size: 1rem;
  }

  .hero .content .button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

}