:root {
  --primary: #ffff00;
  --bg: #080808;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Laila', sans-serif;
  background-color: var(--bg);
  color: rgb(252, 248, 248);
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  z-index: 9999;
}

.navbar.active {
  background: #000000; /* Warna latar belakang saat navbar aktif */
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/bintang-heler.jpg'); /* Mengganti gambar latar belakang */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0.5, 0, 0.5); /* Efek gelap pada latar belakang */
}

.hero .content {
  text-align: left;
  color: #fff;
  z-index: 1;
  max-width: 5000px;
  align-items: flex-start;
  padding: 4rem;
  margin-right: auto;
}

.hero .content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  line-height: 1.6;
  font-weight: 300;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Efek bayangan teks */
}

.hero .content .button {
  display: inline-block;
  padding: 0.3rem 3rem;
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #fff;
  background-color:#7b3721;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Efek bayangan tombol */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.hero .content .button:hover {
  background-color: var(--primary); /* Warna latar belakang yang berbeda saat dihover */
} 

/* About Section */
.about {
  padding: 8rem 7% 1.4rem;
}

.about h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  max-width: 90%;
  height: auto;
  border-radius: 20px;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Contact Section */
.contact {
  padding: 50px 0;
  text-align: center;
}

.contact .header h2 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.contact .header h2 span {
  color: var(--primary);
}

.contact .header p {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}

.contact .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact .google-maps {
  flex: 1;
  min-width: 500px;
  max-width: 600px;
  margin-right: 20px;
}

.contact .google-maps iframe {
  width: 100%;
  height: 400px;
  border: 0;
}

.contact .form-wrapper {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

.contact .form {
  display: flex;
  flex-direction: column;
}

.contact .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.contact .label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact .button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d4af37;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact .button:hover {
  background-color: #b38e2a;
}

/* Produk Section */
.product {
  padding: 2rem 0;
  background: #000000;
  text-align: center;
  color: white;
}

.product h2 span {
  color: var(--primary);
}

.product h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.product p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #CCCCCC;
}

.product .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.product-card {
  background: #282828;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex: 1 1 200px;
  max-width: 300px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.product-card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
}

.product-card-subtitle {
  font-size: 1rem;
  color: #BBBBBB;
  margin-top: 0.5rem;
}

.product-price {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #FFFFFF;
  font-weight: bold;
  font-family: 'Arial Black', Gadget, sans-serif;
}

.product-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-icons a {
  color: #CCCCCC;
  transition: color 0.3s ease;
}

.product-icons a:hover {
  color: var(--primary);
}

/* Deskripsi Overlay */
.deskripsi-overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 10;
  width: 100%;
}

.deskripsi-overlay p {
  margin: 0;
}

/* Deskripsi Overlay yang ditampilkan */
.product-card.show-description .deskripsi-overlay {
  display: block;
}

/* Footer */
footer {
  background-color:#777;
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: relative;
  background-color: #fefefe;
  color: var(--bg);
  margin: 15% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  width: 80%;
  animation: animateModal 0.5s;
}

/* Modal Animation */
@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-container .close-icon {
  position: absolute;
  right: 1rem;
}

.modal-content {
  display: flex;
  flex-wrap: nowrap;
}

.modal-content img {
  height: 20rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.modal-content p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.2rem;
}

.modal-content a {
  display: flex;
  gap: 1rem;
  width: 12rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .product p {
    font-size: 1.2rem;
  }

  .modal-content {
    flex-wrap: wrap;
  }
}

.sidebar {
  width: 250px;
  height: 100%;
  background: var(--main-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: width 300ms;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0 1rem 2rem;
  color: rgb(255, 249, 249);
}

.sidebar-menu {
  padding: 1rem 0;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  padding-left: 1rem;
  display: block;
  color: #fff;
  font-size: 1.1rem;
  position: relative;
}

.sidebar-menu a span:first-child {
  padding-right: 1rem;
  font-size: 1.5rem;
}

.sidebar-menu a.active {
  background: rgb(14, 14, 14);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  border-radius: 30px 0 0 30px;
}

.main-content {
  margin-left: 250px;
  transition: margin-left 300ms;
}

header {
  background: rgb(5, 4, 4);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
  position: fixed;
  left: 250px;
  width: calc(100% - 250px);
  top: 0;
  z-index: 100;
  transition: left 300ms;
}

main {
  margin-top: 80px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: rgb(13, 11, 11);
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}

.card-single div:last-child {
  display: grid;
  place-items: center;
}

.card-single div:last-child span {
  color: var(--main-color);
  font-size: 3rem;
}

.recent-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 65% 35%;
}

.card {
  background: rgb(15, 14, 14);
  padding: 1rem;
  border-radius: 7px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-header button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  cursor: pointer;
}

.card-header button:hover {
  background: transparent;
  color: var(--main-color);
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #606060;
}

thead tr {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

th, td {
  text-align: left;
  padding: 1rem;
  color: var(--color-dark);
}

tbody tr:hover {
  background: #5a3e3e;
  cursor: pointer;
}

.status {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin-right: .5rem;
}

.purple {
  background: #8e44ad;
}

.pink {
  background: #ff7979;
}

.orange {
  background: #f39c12;
}

/* Login Container */
/* Wrapper untuk memastikan konten berada di tengah layar */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000; /* Warna latar belakang untuk seluruh layar */
}

/* Container untuk form login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-form {
  background-color: var(--form-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.login-form .logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  stroke: #333; /* Warna ikon Feather */
  stroke-width: 2px;
}

.login-form h2 {
  margin-bottom: 20px;
  color: var(--text-color);
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
  color: var(--text-color);
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e6c300;
}

.error {
  color: var(--error-color);
  text-align: center;
  margin-bottom: 15px;
}


/* Modal Produk */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Media Queries */
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
